.form-inline{
    background-color: aquamarine;
}

.citySearches{
    background-color: gold;
}

.currentWeatherDisplay{
    background-color: coral;
}

.forecastDisplay{
    background-color: indianred;
}