/* .form-inline{
    background-color: aquamarine;
}

.citySearches{
    background-color: gold;
}

.currentWeatherDisplay{
    background-color: coral;
}

.forecastDisplay{
    background-color: indianred;
} */

.img-weather{
    max-height: 100px;
    max-width: 100px;
}